{deps, [
  {bear, "0.8.2",
    {git, "https://github.com/boundary/bear.git", {tag, "0.8.2"}}},
  {hdr_histogram, ".*",
    {git, "https://github.com/lpgauth/hdr_histogram_erl.git", {branch, "bug/fix-makefile"}}}
]}.

{erl_opts, [
  debug_info,
  warnings_as_errors,
  warn_export_all,
  warn_export_vars,
  warn_missing_spec,
  warn_obsolete_guard,
  warn_shadow_vars,
  warn_untyped_record,
  warn_unused_import,
  warn_unused_vars
]}.
